* {
    box-sizing: border-box
}

body {
    background: url('..images/nebula.jpg')
}

.jumbotron {
    text-align: center;
    font-size: xx-large;
}

img {
    height: 80%;
    width: 80%;
    margin-left: 15%;
}